nav#nav-menu {
    position: fixed;
    display: grid;
    width: 100%;
    grid-template-areas:
        "logo menu-site menu-login"
    ;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    padding-top: 1%;
    transition: 0.2s;
    z-index: 1;
}

div#div-logo-menu {
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
}

img#logo-menu {
    width: 30px;
    margin-top: 25%;
}

div#div-logo-menu h2 {
    margin-left: 2%;
    color: rgb(36, 36, 36);
}

ul#menu-site {
    grid-area: menu-site;
}

ul#menu-login {
    grid-area: menu-login;
}

ul.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    font-size: 2vh;
    font-weight: bold;
}

li.item-menu { 
    display: inline-block;
    padding: 5px 20px;
}

a.menu-link {
    color: #b3b3b3;
    text-decoration: none;
    position: relative;
}

a.menu-link::after {
    position: absolute;
    content: '';
    height: 2px;
    bottom: -4px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 0%;
    transition:.5s;
}

a.menu-link:hover {
    color: white;
    transition:.5s;
}

a.menu-link:hover::after {
    width: 80%;
    background: white;
}

.active {
    color: white !important;
}



li.menu-button {
    border-radius: 25px;
    padding: 6%;
    width: 50%;
    background: linear-gradient(to right, #6186ff, #4772ff);
    text-align: center;
    margin-right: 12%;
}


a.page-link {
    color: white;
    text-decoration: none;
}



nav.nav-scrolled {
    padding-top: 0 !important;
    transition: 0.3s !important;
    background: rgb(255, 255, 255);
    box-shadow: 0px 1px 2px 1px rgba(31, 31, 31, 0.151);
}

nav.nav-scrolled .active{
    color: rgb(31, 31, 31) !important;
}

nav.nav-scrolled a.menu-link:hover {
    color: rgb(31, 31, 31);
    transition:.5s;
}

nav.nav-scrolled a.menu-link:hover::after {
    width: 80%;
    background: rgb(31, 31, 31);
}

nav.nav-scrolled h2 {
    color: rgb(31, 31, 31) !important;
}