body{
    margin: 0;
    padding: 0;
    font-family: monospace,sans-serif;
    overflow: hidden;

}

.menu{
    width: 20%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    float: left;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 50px;
    box-shadow: 0px 0px 10px #3030306c;
    

}

.menu .item-menu{
    width: 70%;
    height:60px;
    margin: 5px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    
    
}
#logo:hover{
    background: transparent;
    cursor:unset;
}


.menu .item-menu:hover{
background: grey;
cursor: pointer;
}

#active{
    background: pink;
}

.menu .item-menu p{
    padding-left: 5px; 
    font-size: 18px;
    margin: 0;
}

.menu .item-menu i{
    padding-left: 5px;

}

#logo{
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    font-size:25px !important;
    font-weight: bold;
}


.principal{
    width: 80%;
    height: 100vh;
    float: left;
}

.principal #dashboard{
    width: 90%;
    height: 100%;
    margin-left: 5%;
}

#top {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#grafico-topo{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    
}

#grafico-baixo{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;

    
}

#grafico{
    float: left;
    width: 59%;
    height: 250px;
    background: rgba(226, 226, 226, 0.527);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

#grafico2{
    float: left;
    width: 40%;
    height: 250px;
    background: rgba(226, 226, 226, 0.527);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

#grafico3{
    width: 100%;
    float: left;
    height: 250px;
    background: rgba(226, 226, 226, 0.527);
    border-radius: 5px;
    display: flex;
    flex-direction: column;

}



